<div class="mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let categoria">{{categoria.id}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
      <td mat-cell *matCellDef="let categoria">{{categoria.nome}}</td>
    </ng-container>

    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Ações</th>
      <td mat-cell *matCellDef="let categoria">
        <a routerLink="/categorias/update/{{categoria.id}}" class="edit">
          <i class="material-icons">
            edit
          </i>
        </a>

        <a routerLink="/categorias/delete/{{categoria.id}}" class="delete">
          <i class="material-icons">
            delete
          </i>
        </a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let categoria; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="dataSource?.data.length"
      [pageIndex]="0"
      [pageSize]="5"
      [pageSizeOptions]="[5, 25, 50]">
  </mat-paginator>
</div>
