<mat-sidenav-container class="container">
    <mat-sidenav class="sidevav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item routerLink="/categorias">
                <i class="material-icons">
                    category
                </i>
                Categorias
            </a>

            <a mat-list-item routerLink="/produtos">
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>

            <a mat-list-item routerLink="/modosPagamentos">
                <i class="material-icons">
                    payment
                </i>
                Modos de Pagamento
            </a>

            <a mat-list-item routerLink="/venda">
                <i class="material-icons">
                    attach_money
                </i>
                Vendas
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet>

        </router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
