<mat-card>
    <mat-card-title>Alteração modo Pagamento</mat-card-title>
    <form>
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex: Refrigerante" [(ngModel)]="modoPagamento.descricao" name="descricao" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Taxa</mat-label>
            <input matInput placeholder="Ex: 00.02" [(ngModel)]="modoPagamento.taxa" name="taxa" required>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Taxa desconto permitido</mat-label>
            <input matInput placeholder="Ex: 00.02" [(ngModel)]="modoPagamento.porcentagemDesconto" name="porcentagemDesconto" required>
        </mat-form-field>

        <mat-checkbox [(ngModel)]="modoPagamento.troco" name="troco">Troco</mat-checkbox>

    </form>

    <button mat-raised-button (click)="updateModoPagamento()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>
