<mat-card>
    <mat-card-title>Novo Produto</mat-card-title>
    <form [formGroup]="produto">
        <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Ex: Coca-Cola" type="text"  name="nome" formControlName="nome">
            <mat-error *ngIf="produto.touched || produto.dirty && p.nome.errors?.required">Preencha o
                campo
                nome
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Preço</mat-label>
            <input type='text' suffix=" $" mask="0000" >
            <input matInput placeholder="Ex: 10" name="preco" formControlName="preco"
                   type="number" min="0">
            <mat-error>Preencha o campo preço</mat-error>
        </mat-form-field>


        <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <!--salva o valor de value em ngModel-->
            <mat-select placeholder="Categorias"
                        formControlName="categoria">
                <mat-option *ngFor="let cat of categorias" [value]="cat">
                    {{cat.nome}}
                </mat-option>
            </mat-select>
            <mat-error>Preencha o campo
                categoria
            </mat-error>
        </mat-form-field>
        <!--<p>Valor selecionado: {{produto.categoria}}</p>-->
    </form>

    <button mat-raised-button [disabled]="!produto.valid" (click)="criarProduto()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancelar()">
        Cancelar
    </button>
</mat-card>
